@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: poppins;
  cursor: url(/static/assets/cursorWhite.png) 16 16, auto !important;
}

header {
  background-color: #101010;
  color: #fff;
  padding: 4px 0;
  text-align: center;
}

h1 {
  margin: 1px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

form {
  background-color: #222;
  border: 1px solid #00bcd4;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: 1px solid #00bcd4;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0097a7;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(19, 18, 18, 0.7); /* Fondo semitransparente */
  color: white;
  padding: 10px 0;
}

.message {
  margin: 0;
  background: #0097a7e0;
  width: 180px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
}

nav {
  background-color: #333;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  padding: 2px;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  margin: 0px;
}

nav ul li a {
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  margin-left: 5px;
}

nav ul li a:hover {
  text-decoration: underline;
}

p,
h1,
h2,
h3 {
  user-select: none;
}
