<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Alumno</title>
    <link rel="stylesheet" href="/static/create_alumno.css" />
  </head>
  <body>
    <header>
      <h1>Crear Alumno</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="create_curso">Crear curso</a></li>
        <li><a href="create_alumno">Crear alu</a></li>
        <li><a href="read_alumnos">Planilla</a></li>
        <li><a href="update_alumno">Actualizar alu</a></li>
      </ul>
    </nav>
    <main>
      <div class="form-container">
        <form action="/create_alumno" method="post">
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required />
          </div>
          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required />
          </div>
          <div class="form-group">
            <label for="fecha_nac">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nac" name="fecha_nac" required />
          </div>
          <div class="form-group">
            <label for="curso">Curso:</label>
            <select id="curso" name="curso_id" required>
              {% for curso in cursos %}
              <option value="{{ curso.id }}">{{ curso.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button type="submit">Crear Alumno</button>
          </div>
        </form>
      </div>
    </main>
    {% if message %}
    <div class="message-container">
      <p class="message">{{ message }}</p>
    </div>
    {% endif %}
  </body>
</html>
