<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planilla de Alumnos</title>
    <link rel="stylesheet" href="/static/Planilla.css" />
  </head>
  <body>
    <header>
      <h1>Planilla de alumnos</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="create_curso">Crear curso</a></li>
        <li><a href="create_alumno">Crear alu</a></li>
        <li><a href="read_alumnos">Planilla</a></li>
        <li><a href="update_alumno">Actualizar alu</a></li>
      </ul>
    </nav>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha de Nacimiento</th>
          <th>Curso</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for alumno in alumnos %}
        <tr>
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.apellido }}</td>
          <td>{{ alumno.fecha_nac }}</td>
          <td>{{ alumno.curso.nombre }}</td>
          <td>
            <button onclick="showUpdateForm('{{ alumno.id }}')">Actualizar</button>
              <button onclick="showDeleteForm('{{ alumno.id }}')">Eliminar</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
      <!-- Formulario de actualización -->
      <div id="updateForm" style="display: none;">
        <h2>Actualizar Alumno</h2>
        <div class="form-container">
        <form action="/update_alumno" method="post">
          <input type="hidden" id="updateId" name="id" />
          <div class="form-group">
            <label for="updateNombre">Nombre:</label>
            <input type="text" id="updateNombre" name="nombre" />
          </div>
          <div class="form-group">
            <label for="updateApellido">Apellido:</label>
            <input type="text" id="updateApellido" name="apellido" />
          </div>
          <div class="form-group">
            <label for="updateFechaNac">Fecha de Nacimiento:</label>
            <input type="date" id="updateFechaNac" name="fecha_nac" />
          </div>
          <div class="form-group">
            <label for="updateCursoId">Curso:</label>
            <input type="number" id="updateCursoId" name="curso_id" />
          </div>
          <div class="actuali">
          <button type="submit">Actualizar</button>
          <button type="button" onclick="hideUpdateForm()">Cancelar</button>
        </div>
        </form>
        </div>
      </div>
      <!-- Formulario de eliminación -->
      <div id="deleteForm" style="display: none;">
        <h2>Eliminar Alumno</h2>
        <div class="form-container">
        <form action="/delete_alumno" method="post">
          <input type="hidden" id="deleteId" name="id" />
          <p>¿Estás seguro de que deseas eliminar este alumno?</p>
          <button type="submit">Eliminar</button>
          <button type="button" onclick="hideDeleteForm()">Cancelar</button>
        </form>
      </div>
      </div>
    </main>
    <script >

  function showUpdateForm(id) {
    document.getElementById("updateId").value = id;
    document.getElementById("updateForm").style.display = "block";
    document.getElementById("deleteForm").style.display = "none";

    // Hacer la solicitud para obtener los datos del alumno
    fetch(`/get_alumno_json/${id}`)
      .then(response => response.json())
      .then(data => {
        // Rellenar los campos del formulario con los datos del alumno
        document.getElementById("updateNombre").value = data.nombre;
        document.getElementById("updateApellido").value = data.apellido;
        document.getElementById("updateFechaNac").value = data.fecha_nac;
        document.getElementById("updateCursoId").value = data.curso_id;
      })
      .catch(error => {
        console.error("Error al obtener los datos del alumno:", error);
      });
  }

function showDeleteForm(id) {
  document.getElementById("deleteId").value = id;
  document.getElementById("deleteForm").style.display = "block";
  document.getElementById("updateForm").style.display = "none";
}

function hideUpdateForm() {
  document.getElementById("updateForm").style.display = "none";
}

function hideDeleteForm() {
  document.getElementById("deleteForm").style.display = "none";
}
</script>
    
       <div class="message-container">
        <p class="message">{{ message }}</p>
      </div>
  </body>
</html>
